td {
	vertical-align: top;
}

th {
  background-color: #EEECE1;
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
}

td.project-title {
  background-color: #F1FBEA; /* #FBF0FA; */
  text-align: left;
  font-weight: bold;
  font-size: 110% !important;
}

.width-100 {
  width: 100% !important;
}

blockquote {
  border: $border $border-color;
  background-color: rgba(240,240,240,0.5);
  /*
  border: solid 1px $blue-100; //#52b1ae;
  */
  padding: 10px;
  margin:  10px;
}

.description {
  width: 100%;
  font: 0.8rem "Fira Sans" sans-serif; 
}

/* 
Based on .site-header, but more flexible. 
*/
.site-header-logo {
  display: inline;
  vertical-align: top;
  min-height: 20px;
  max-width: 250px;
  align-items: center;
}

.banner {
  @include mq(md) {
    /*
    height: 60px; 
    */
    max-height: 100px;
  }  
}

/* Buttons used at the tops of pages. */

.header-btns {
  display: inline;
}

.header-btn {
  @extend .btn;
  @include btn-color($white, $btn-primary-color);
  @extend .fs-5;
  @extend .mb-4;
  @extend .mb-md-0;
  @extend .mr-2;
  @extend .no-glyph;
  @extend .text-center;
}

/* 
Smaller buttons used for "keywords" and "categories" of things.
See https://the-ai-alliance.github.io/open-trusted-data-initiative/ for an example.
*/
.keyword-btn {
  @extend .btn;
  @extend .fs-5;
  @extend .mb-4;
  @extend .mb-md-0;
  @extend .mr-2;
  @extend .no-glyph;
  @extend .text-center;
  font: 0.75rem;
}

.category-btn {
  @extend .keyword-btn;
  @extend .btn-green;
}

.topic-btn {
  @extend .keyword-btn;
  @extend .btn-blue;
}

h3.topic-btn {
  @extend .topic-btn;
  @extend .text-left;
}
h3.topic {
  @extend .btn-blue;
}


.resizable {
  position: relative;
}

.resizable .resizers {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.resizable .resizers .resizer-line {
  position: relative;
}

.resizable .resizers .resizer-line.bottom-line {
  height: 6px;
  border-top: 5px solid #6D6F5D; /* #51899C; */
  cursor: ns-resize;
}
.resizable .resizers .resizer-box.bottom-box {
  height: 10px;
  border: 5px solid #6D6F5D; /* #51899C; */
  cursor: ns-resize;
}

.resizable .resizers .resizer-line.bottom-line:hover {
  border-top: 5px solid #AD94A2;
}
.resizable .resizers .resizer-box.bottom-box:hover {
  border: 5px solid #AD94A2;
}

.resizable-content {
  min-height: 30px;
  min-width: 30px;
  resize: both;
  overflow: auto;
  max-height: fit-content;
  max-width: fit-content;
}

